<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>{{folder}}</ion-menu-button>
    </ion-buttons>
    <ion-title>{{folder}}</ion-title>
  </ion-toolbar>
</ion-header>



  <div id="container" class = "center">
    <ion-content class = "hintergrund">
  <ion-list class = "rounded" *ngFor="let p of jzListe">
    <ion-item href = "#" target="_blank" fill = "solid" shape = "round" [ngStyle]= "{'--background': 'rgb(' + randcolor[0] + ',' + this.randcolor[1] + ',' + randcolor[2] + ')'}">
   <ion-label>{{jzListe.indexOf(p) + 1}}. {{p}}</ion-label>
    </ion-item>
   </ion-list>
  </ion-content>
</div>
<ion-button (click) = "listentest()">{{counter}}</ion-button> 
