<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      DB Backup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select interface = "popover" placeholder="WÄHLE EINE LISTE" (ionChange)="handleChange($event)">
    <ion-select-option value="search-engines">Search Engines</ion-select-option>
    <ion-select-option value="chatting-apps">Chatting Apps</ion-select-option>
    <ion-select-option value="streaming-unlimited">Streaming unlimited</ion-select-option>
    <ion-select-option value = "video-editors">Video Editors</ion-select-option>
    <ion-select-option value = "cloud-downloads">Clouds</ion-select-option>
    <ion-select-option value = "youtube-social">Youtube Socials</ion-select-option>
  </ion-select>
  
<ion-list [inset] = "true" class = "rounded">
       <ion-accordion-group>
        <ion-accordion *ngFor = "let p of jzListe" expand = "inset">
          <ion-item slot="header" color="light">
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <a href = "{{p.link}}" target = "_blank"> Besuche {{p.title}} hier!</a>
          </div>
        </ion-accordion>
       </ion-accordion-group>
      </ion-list>
</ion-content>
